@charset "utf-8";

/* skip */
#u_skip{
	position:fixed;
	left:0;top:0;
	z-index:99999;
	a{
		position:absolute;
		top:-30px;left:0;
		width:138px;
		border:1px solid #000f2e;
		text-align:center;
		outline:none;
		background-color:#000f2e;
		&:active,
		&:focus{
			top:0;
			text-decoration:none;cursor:pointer;zoom:1;
		}
	}
	span{
		display:inline-block;
		padding:2px 6px 0 0;
		font-size:.92em;
		line-height:26px;
		color:#fff;
		letter-spacing:-1px;
	}
}
